<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\LoadAssembliesOnStartup.Test\packages.config" />
  <repository path="..\src\LoadAssembliesOnStartup.TestAssembly\packages.config" />
  <repository path="..\src\LoadAssembliesOnStartup.TestAssemblyToReference\packages.config" />
  <repository path="..\src\LoadAssembliesOnStartup.TestAssemblyToReferenceWithIgnores\packages.config" />
  <repository path="..\src\LoadAssembliesOnStartup\packages.config" />
</repositories>